__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
virtualenv/
build/
dist/
Pipfile.lock
.vem/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
