<!DOCTYPE html>
<html lang="zh">
  <script src="../static/js/changeMonthly.js"></script>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generate PPTX</title>
    <link rel="stylesheet" href="../static/css/custom.css" />

    <!-- Add Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet" />
  </head>
  <body class="container mt-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h1 class="mb-0">不来梅教会自动生成周日PPTX</h1>
      </div>
      <div class="card-body">
        <form id="pptxForm">
          <!-- 第一部分 -->
          <div class="form-section">
            <h3>本周事奉名单</h3>
            <div id="thisWeekList"></div>
            <div id="zhuTi1"></div>
            <div id="date1"></div>
          </div>

          <!-- 第二部分 -->
          <div class="form-section">
            <h3>经文自动生成</h3>
            <div id="bibleDropdownSet1"></div>
            <div id="bibleDropdownSet2"></div>
            <div id="bibleDropdownSet3"></div>
          </div>

          <!-- 第三部分 -->
          <div class="form-section">
            <h3>诗歌歌词暂时没有办法自动生成</h3>
            <div id="song1"></div>
            <div id="song2"></div>
            <div id="song3"></div>
            <div id="song4"></div>
          </div>

          <div class="form-section">
            <div class="mb-3">
              <h4>奉献回应礼经文</h4>
            </div>
            <div id="verseRadio" class="row mb-3"></div>

            <label for="birthdayDropdown">生日:</label>
            <select
              id="birthdayDropdown"
              name="birthday"
              onchange="toggleInputBox()">
              <option value="false">非第一周</option>
              <option value="true">第一周</option>
            </select>

            <div id="inputBoxContainer" style="display: none">
              <label for="birthdayList">本月寿星:</label>
              <input
                type="text"
                id="birthdayList"
                name="birthdayList"
                style="width: 400px" />
              <label id="dynamicBirthday"></label>
            </div>
            <br />

            <script>
              function toggleInputBox() {
                var dropdown = document.getElementById("birthdayDropdown");
                var inputBoxContainer =
                  document.getElementById("inputBoxContainer");
                inputBoxContainer.style.display =
                  dropdown.value === "true" ? "block" : "none";
              }
            </script>

            <div id="jinJu"></div>

            <div class="mb-3">
              <h4>圣餐礼诗歌</h4>
            </div>
            <div class="row mb-3" id="lyricsRadio"></div>
          </div>

          <div class="form-section">
            <h3>下周事奉名单:</h3>
            <div id="date2"> </div>
            <div id="zhuTi2"></div>
            <div id="nextWeekJingWen"></div>

            <div id="nextWeekList"></div>
          </div>

          <h2>请注意，新生成的pptx中的音频需要手动设置为跨页播放。</h2>
          <button type="button" id="button">生成PPTX</button>
        </form>
      </div>
    </div>

    <script type="module" src="../static/js/scripts.js"></script>

    <script type="module">
      import { findBibleText } from "../static/js/findBibleText.js";
      document.getElementById("button").addEventListener("click", sendData);
      function sendData() {
        var formData = new FormData(document.getElementById("pptxForm"));
        var formDataObject = {};
        formData.forEach(function (value, key) {
          formDataObject[key] = value;
        });
        var xuanzhaoLines = findBibleText(
          document.getElementById("xuanZhao").value
        );
        var qiyingLines = findBibleText(
          document.getElementById("qiyingjingwen").value
        );
        var dujingLines = findBibleText(
          document.getElementById("dujing").value
        );
        var meiyuejinjuLines = findBibleText(
          document.getElementById("meiyuejinju").value
        );
        formDataObject["xuanzhaoLines"] = xuanzhaoLines;
        formDataObject["qiyingLines"] = qiyingLines;
        formDataObject["dujingLines"] = dujingLines;
        formDataObject["meiyuejinjuLines"] = meiyuejinjuLines;
        formDataObject["huodongbaogao"] = dynamicHuodongbaogao;
        formDataObject["daogaoshijie"] = dynamicDaogaoShijie;
        formDataObject["daogaojiaohui"] = dynamicDaogaoJiaohui;
        fetch("result", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formDataObject),
        })
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((error) => console.error("Error:", error));
      }
    </script>
    <script>
      // Enable text selection and copying
      document.body.style.userSelect = "text";
      document.body.style.webkitUserSelect = "text";
      document.body.style.MozUserSelect = "text";
    </script>
  </body>
</html>
